@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none border max-sm:border-slate-gray max-sm:rounded-full;
  }
}

@keyframes pulse-animation {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.card-gradient {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.purple-gradient {
  background: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
  -webkit-background-clip: text; /* Clip text to the gradient */
  color: transparent; /* Make the text color transparent */
}

.gray-gradient {
  background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
  -webkit-background-clip: text; /* Clip text to the gradient */
  color: transparent; /* Make the text color transparent */
}

.animate-slide-down {
  animation: slide-down 0.5s ease-in-out;
}

.group:hover .group-hover\:pulse-animation {
  animation: pulse-animation 3s infinite;
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray;
  }

  .header-text {
    @apply text-white text-[30px] lg:text-[50px] md:text-[40px] font-Azeret font-extrabold;
  }

  .sub-text {
    @apply info-text text-left text-sm md:text-lg lg:text-[25px] lg:max-w-[1400px] md:max-w-[700px] md:leading-7 lg:leading-9 max-sm:max-w-[300px];
  }

  .guide-text {
    @apply text-gray-300 font-medium hover:animate-pulse;
  }
}
